.productKontener{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
}
body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    
}

.product{
    width: 24%;
    height: 100%;
}
img{
    width: 100%;
    height: 500%;
    
}

.listaKontener{
    display: none;
    border: 1px black solid;
}
.product{
    height: 20px;
    width: 200px;
    float: right;
}
.ilosc{
    width: 30px;
    height: 20px;
    float: left;
}
